//variables
$blue:          #00769a;
$yellow:        #ffd800;
$red:           #d61e1e;
$grey:          #4d4d4d;

//styles
main {
    min-height: 70vh;
}
img {
    max-width: 100% !important;
}
.navbar-collapse {
    justify-content: flex-end;
}
.carousel-item {
    height: 100%;
    width: 100vw;
    background: #ccc;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-inner {height: calc(80vh - 76px);}

.carousel-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 4;
    background: #fff;
    padding: 1rem;
    border-radius: 50%;
    @media screen and (max-width: 991px) {
        width: 29vw;
        padding: .4rem;
    }
}

.section.products,
.section.single {
    .card {
        position: relative;
        margin-bottom: 1rem;
        .list-group {
            height: 0;
            width: 100%;
            opacity: 0;
            transform: translateY(-50%);
            transition: all .3s ease;
            position: absolute;
            bottom: -200px;
            left: 0;
            flex-wrap: wrap;
            @media screen and (max-width: 991px) {
                opacity: 1;
                transform: translateY(0);
                height: 100%;
                position: relative;
                bottom: 0;
            }
            .list-group-item {
                border-width: 0 1px 1px 1px;
                &:first-child {
                    border-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                &:last-child {
                    border-bottom-width: 1px;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                a {
                    color: blue;
                }
            }
        }
        &:hover {
            .list-group {
                opacity: 1;
                transform: translateY(0);
                z-index: 999;
                height: 200px;
            }
        }
    }
    table {
        width: 100%;
        tr {
            transition: all .3s ease;
            &:nth-child(odd) {
                background: #f1f1f1;
            }
            &:hover {
                background: #ccc;
            }
        }
        td {
            // border-width: 1px;
            padding: 5px;
        }
    }
}

body.category-markak {
    .card-body {
        display: none;
    }
}

.about-icons {
    margin-top: 2rem;
}

.card,
a.card,
.nolinkdecor {
    a {
        text-decoration: none;
        color: #000 !important;
    }
}

.section.products .card .list-group .list-group-item:first-child, .section.single .card .list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item {
    background: #555;
    a {
        color: #fff !important;
    }
}

footer {
    padding: 3rem;
    @media screen and (max-width: 991px) {
        padding: 0;
    }
    &.bg-dark {
        background: #ccc !important;
    }
    a {
        text-decoration: none;
        color: inherit !important;
    }
}

.card-title {
    height: 3rem;
}

figure.zoom {
    & img:hover {
      opacity: 0;
    }
    img {
      transition: opacity .5s;
      display: block;
      width: 100%;
    }
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;
}

//google maps embed
.acf-map {
    width: 100%;
    height: 400px;
    margin: 0;
}
// Fixes potential theme css conflict.
.acf-map img {
   max-width: inherit !important;
}

.page-template-page-rolunk,
.page-template-page-contact {
    main a {
        color: $blue !important;
        &:hover {
            text-decoration: underline !important;
        }
    }
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #333 !important;
}
.akcio p {
    margin-bottom: 0;
}