.card {
    background: $pureWhite;
    border: 1px solid $border-color;
    border-radius: 12px;
    padding: 5px;
    .card-image {width: 100%;}
    .card-text, .card-buttons {margin: 1rem;}
    .card-text {
        h3 {
            font-weight: 500;
            @media screen and (max-width: $tablet) {
                font-size: 20px;
            } 
        }
    }
    .card-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        .btn-blue {padding: 5px 15px;}
        .btn-plain {padding: 10px 0;}
    }
}